# Common
README.md
CHANGELOG.md
docker-compose.yml
Dockerfile*
# git
.git
.gitattributes
.gitignore
.github/
# node
# Node
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

## Dependency directories
node_modules/

# Lambda
dist/

# expo
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

## macOS
.DS_Store
